{% load static %}
<div class="wishcard col-4" style="background: #FFFFFF">
    <a href="/{{ good.brand_id }}/gds/{{ good.id | default:'1' }}" class="wishlistimg" style="width: unset">
        <div >
            <img src="{{ good.main_pic.url }}" alt="">
        </div>
    </a>

    <div class="wishcardinf" style="justify-content: space-between; height: 12em">
        <div class="wishtrashcont">
            <h5 class="cardbrand" style="font-weight: 600">{{ good.brand_id }}</h5>
            <form method="POST" action="{% url 'delete_fav' good.id  %}">
                {% csrf_token %}
{#                {{ form.as_p }}#}
                <input type="image" src="{% static 'project/img/trash.svg' %}"/>
            </form>
{#            <form method="POST">#}
{#                #}
{#            </form>#}
{#            <div class="favoriteicocont">#}
{#                <a href="#"><img src="{% static 'project/img/trash.svg' %}" alt="favorites" class="iconBtn"></a>#}
{#            </div>#}
        </div>
        <h5 class="carddescr">{{ good.model_name }}</h5>
        <h5 class="cardprice">Цена: {{good.price_formatted }}  ₽</h5>
        <form method="GET" action="" class="d-flex justify-content-between" >
            <input type="hidden" name="goods_id" value="{{ good.id }}">
            <select name="size" class="wishcardbtn" style="background: #FFFFFF; color: black; border: 1px solid #D0D0D0">
                {% for size in good.size.all  %}
                    <option value="{{ size.size }}">{{ size.size }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="wishcardbtn" value="В корзину" style="background: #FFFFFF; color: black; border: 1px solid #D0D0D0" />

        </form>

{#        <div class="dropdown-center">#}
{#            <button class="wishcardbtn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                <div class="btntextwish">Размер: 43EU</div>#}
{#                <!-- <a href="#"><img src="../img/wtarrowdown.svg" alt="arrow" class="iconBtn"></a> -->#}
{#            </button>#}
{#            <ul class="dropdown-menu">#}
{#              <li><a class="dropdown-item" href="#">42.5EU</a></li>#}
{#              <li><a class="dropdown-item" href="#">41.EU</a></li>#}
{#              <li><a class="dropdown-item" href="#">43.5EU</a></li>#}
{#            </ul>#}
{#        </div>#}
{#        <button class="wishcardbtn" type="submit" form="{{ add_form }}">#}
{#            <div class="btntextwish">В корзину</div>#}
{#        </button>#}
    </div>
</div>
