<div class="productcard col-md-10 col-lg-4">
    <div class="prodconttop">
        <div class="product__txtgrp">
            <h3 class="cardbrand" style="font-weight: 600">{{ good.brand_id}}</h3>
            <h5 class="carddescr">{{ good.model_name }}</h5>
            <h5 class="carddescr">{{ good.color_id }}</h5>
            <h5 class="carddescr">Артикул: {{ good.articul }}</h5>
            <div class="vispadva">
{#                <h3>Цена: {{good.price_formatted }}  ₽</h3>#}
                {% if good.sale_confirmed %}
                    <div class="price__cont d-flex flex-nowrap justify-content-between" style="width: 13em">
                        <h3 class="cardprice">Цена: <span style="color: #cc0000">{{good.price_with_sale_formatted }} ₽</span></h3>
                        <h3 class="cardprice" style="text-decoration: line-through #000;color: #d0d0d0;">{{good.price_formatted }} ₽</h3>
                     </div>
                {% else %}
                     <div class="price__cont">
                        <h3>Цена: {{good.price_formatted }}  ₽</h3>
                     </div>
                {% endif %}
            </div>
        </div>

        <div class="favoriteicocont vispam">
{#            <input id="heart" type="checkbox" />#}
{#                <label for="heart">❤</label>#}
{#             <form method="POST" id="fav_form">#}
{#                 {% csrf_token %}#}
{#                <input id="heart" type="submit" />#}
{#                <label for="heart" class="favor">❤</label>#}
{##}
{#            </form>#}
{#        <i class="favorite-icon {{ good.is_favorite|yesno:'favorited,' }} d-flex justify-content-end" data-product-id="{{ good.id }}" style="font-size: 26px">❤</i>#}
            <i class="favorite-icon  d-flex justify-content-end" data-product-id="{{ good.id }}" style="font-size: 26px">
                <div class="fav-box ">
                    <div class="fav-btn {{ good.is_favorite|yesno:'favorited,' }}" data-product-id="{{ good.id }}">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" >
                            <path d="M18.962 2.5676C16.7144 0.652167 13.3716 0.996699 11.3085 3.12541L10.5005 3.95803L9.6925 3.12541C7.63351 0.996699 4.28664 0.652167 2.03898 2.5676C-0.536801 4.76603 -0.672153 8.71174 1.63293 11.0947L9.56945 19.2897C10.0821 19.8188 10.9148 19.8188 11.4275 19.2897L19.364 11.0947C21.6732 8.71174 21.5378 4.76603 18.962 2.5676Z" />
                                </g>
                            </svg>
                    </div>
                </div>
            </i>
                <!-- <i class="fa fa-star"></i> -->
            <!-- <a href="#"><img src="../img/heart.svg" alt="favorites" class="iconBtn"></a> -->
        </div>

    </div>
    <h4 class="carddescr">Выберите размер:</h4>
     <form method="GET">
{#        {% csrf_token %}#}
        <div class="prodbtncont">

{#                <div class="sizebtn">#}
{#                     <input class="btn-check" type="radio" id="{{ fiel.id_for_label }}" name="select_size" value="{{ fiel.value }}">#}
{#                     <label class="btn" style="color: #FFFFFF" for="{{ fiel.id_for_label }}">{{ fiel.label }}</label>#}
{#                </div>#}
{#                 <div class="sizebtn">#}
{#                  <input class="form-check-input" type="checkbox" id="{{ fiel.id_for_label }}" name="{{ fiel.html_name }}">#}
{#                  <label class="form-check-label" for="{{ fiel.id_for_label }}">{{ fiel.label }}</label>#}
{#                </div>#}
                 {% for fiel in form  %}
{#                    <div class="sizebtn" onclick="changeColor(this)">#}
{#                      <input class="form-check-input" type="checkbox" id="{{ fiel.id_for_label }}" name="{{ fiel.html_name }}">#}
{#                      <label class="form-check-label" for="{{ fiel.id_for_label }}">{{ fiel.label }}</label>#}
{##}
{#                    </div>#}
                     <input class="checkbox-label" type="checkbox" id="{{ fiel.id_for_label }}" name="{{ fiel.html_name }}" style="">
                     <label class="sizebtn justify-content-center" for="{{ fiel.id_for_label }}">
                         {{ fiel.label }}
                     </label>
                {% endfor %}

        </div>
     <br>
         <input type="submit" class="addbagbtn col-12" value="Добавить в корзину">
            <br>
         <div class="addbagbtn col-12">+7 (999) 999 99-99</div>
            {#     {{ form.as_p }}#}
     </form>
        <br>
         <div class="vispam">
{#            <h3>{{good.price_formatted }}  ₽</h3>#}
                {% if good.sale_confirmed %}
                    <div class="price__cont d-flex flex-nowrap justify-content-between" style="width: 16em">
                        <h4 class="cardprice">Цена: <span style="color: #cc0000">{{good.price_with_sale_formatted }} ₽</span></h4>
                        <h4 class="cardprice" style="text-decoration: line-through #000;color: #d0d0d0;">{{good.price_formatted }} ₽</h4>
                     </div>
                {% else %}
                     <div class="price__cont">
                        <h3>Цена: {{good.price_formatted }}  ₽</h3>
                     </div>
                {% endif %}
         </div>
        <br>
        <div class="vispadva">
            <h3>Добавить в избранное</h3>
{#            <form method="POST">#}
{#                <input id="heart" type="submit" />#}
{#                <label for="heart">❤</label>#}
{#                {{ favorite.as_p }}#}
{##}
{#            </form>#}
{#            <input id="heart" type="checkbox" />#}
{#            <label for="heart">❤</label>#}
{#        <i class="favorite-icon {{ good.is_favorite|yesno:'favorited,' }} d-flex justify-content-end" data-product-id="{{ good.id }}" style="font-size: 26px">❤</i>#}
        <i class="favorite-icon  d-flex justify-content-end" data-product-id="{{ good.id }}" style="font-size: 26px">
            <div class="fav-box ">
                <div class="fav-btn {{ good.is_favorite|yesno:'favorited,' }}" data-product-id="{{ good.id }}">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" >
                        <path d="M18.962 2.5676C16.7144 0.652167 13.3716 0.996699 11.3085 3.12541L10.5005 3.95803L9.6925 3.12541C7.63351 0.996699 4.28664 0.652167 2.03898 2.5676C-0.536801 4.76603 -0.672153 8.71174 1.63293 11.0947L9.56945 19.2897C10.0821 19.8188 10.9148 19.8188 11.4275 19.2897L19.364 11.0947C21.6732 8.71174 21.5378 4.76603 18.962 2.5676Z" />
                            </g>
                        </svg>

                </div>
            </div>
        </i>
{#            <form method="POST">#}
{#                 {% csrf_token %}#}
{#                <input id="heart" type="submit" />#}
{#                <label for="heart">❤</label>#}
{#            </form>#}
        </div>
        <div class="d-flex align-content-center justify-content-center flex-column gap-1">
{#            <button class="addbagbtn col-12">#}
{#            More from Brand#}
{#            </button>#}
        <a href="{% url 'sale_page' good.category %}" class="nawhrefs d-flex  navbtnss" style="width: 100%"><button class="navbtnss all_br" style="width: fit-content; border: none">Больше от {{ good.brand_id }}</button></a>

        </div>



{#    <div>#}
{##}
{#        <h4>Описание:</h4>#}
{#        <h5 class="carddescr">#}
{#            Lorem ipsum dolor sit amet consectetur adipisicing elit.#}
{#            Quam commodi quisquam blanditiis ullam quo,#}
{#            cum illo! Sunt numquam earum quia nostrum#}
{#            tenetur dolorem ullam nam nihil fugiat animi?#}
{#            Corrupti aliquid porro a incidunt#}
{#            repudiandae quis iste dolorem#}
{#            consectetur, sequi reiciendis!#}
{#        </h5>#}
{#    </div>#}

</div>
