{% extends 'base.html' %}
{% block content %}
    <div class="row sep align-items-center justify-content-between">
        <h1 id="back">Гарантии и возврат</h1>
        <p>
            Гарантии на бесплатный возврат товара в течении 14 дней после покупки, при условии сохранения товарного вида</p>
        <h1 id="pay">Оплата и Доставка</h1>
        <p><span class="100">Самовывоз по адресу: м.Пролетарсская Волгоградский проспект 1.ст1.Доставка по Москве и МО осуществляется в день заказа. Привожу 2 размера на примерку.
            Стоимость доставки по Москве 300р
Стоимость доставки в МО от 400р, в зависимости от километража.
Отправка в регионы происходит через Авито Доставку.
        Оплата происходит наличными либо переводом на карту.
По Москве и МО оплата происходит после примерки.
Перед покупкой, в Вас есть возможность ознакомится с товаром.</span></p>
        <h1 id="company">О компании</h1>
        <h5>Контактная информация</h5>
        <p>
            <span class="100">
            АДРЕС: <br> Волгоградский проспект 1 стр.1
            <br> +7 (916) 169-77-17
            <br> email_example@gmail.com
          </span>
        </p>

    </div>
{% endblock %}