{#<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="background-color: #1e1e2e">#}
{#    <div class="col-md-4 d-flex align-items-center">#}
{#      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">#}
{#        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>#}
{#      </a>#}
{#      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Company, Inc</span>#}
{#    </div>#}
{##}
{#    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">#}
{#      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>#}
{#      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>#}
{#      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>#}
{#    </ul>#}
{#     <script type="text/javascript">#}
{##}
{#        let burger = document.querySelector("#offcanvasTop")#}
{#        let slider = document.querySelector("#carouselExample")#}
{#        console.log(burger.classList.contains("show"))#}
{#        console.log(slider)#}
{#        if (burger.classList.contains("show")) slider.style.display = "none"#}
{#    </script>#}
{#</footer>#}

<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top" style="background-color: #1e1e2e; color: #FFFFFF; padding: 2em">
    <div class="col mb-3">
      <a href="{% url 'home_page' %}" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <h1 class="txtlogo" style="color: #FFFFFF; font-weight: bold">
            ALL SIZE
        </h1>
      </a>

{#        <a href="{% url 'home_page' %}" class="d-flex col-10 col-md-6 align-items-center justify-content-center" >#}
{#            <h1 class="txtlogo">#}
{#                ALL SIZE#}
{#            </h1>#}
{#        </a>#}

      <p style="color: #FFFFFF">© 2023</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col-md-3">
      <h5>Контактная информация</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #FFFFFF" >АДРЕС: <br> Волгоградский проспект 1 стр.1</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #FFFFFF">ТЕЛЕФОН: <br> +7 (916) 169-77-17 </a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #FFFFFF">EMAIL: <br> email_example@gmail.com</a></li>
      </ul>
    </div>
    <br>
    <br>
    <div class="col-md-3">
      <h5>Информация</h5>
      <ul class="nav flex-column" style="color: #FFFFFF">
        <li class="nav-item mb-2" style="color: #FFFFFF"><a href="{% url 'info' %}#back" class="nav-link p-0" style="color: #FFFFFF">ГАРАНТИИ И ВОЗВРАТ</a></li>
        <li class="nav-item mb-2"><a href="{% url 'info' %}#pay" class="nav-link p-0" style="color: #FFFFFF">ОПЛАТА И ДОСТАВКА</a></li>
        <li class="nav-item mb-2"><a href="{% url 'info' %}#company" class="nav-link p-0" style="color: #FFFFFF">О КОМПАНИИ</a></li>
      </ul>
    </div>

    {% csrf_token %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">

        let burger = document.querySelector("#offcanvasTop")
        let slider = document.querySelector("#carouselExample")
        console.log(burger.classList.contains("show"))
        console.log(slider)
        if (burger.classList.contains("show")) slider.style.display = "none"

        document.addEventListener('DOMContentLoaded', function() {
            const favoriteIcons = document.querySelectorAll('.fav-btn');

            favoriteIcons.forEach(icon => {
                const productId = icon.dataset.productId;

                fetch(`/is_fav/${productId}/`, {
                    method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                            'Content-Type': 'application/json',
                            'mode': 'same-origin'
                        }
                } )

                .then(response => response.json())
                .then(data => {
                    if (data.status === 'in_fav') {icon.classList.add('favorited');}
                })




                icon.addEventListener('click', function() {
                    fetch(`/add_to_fav/${productId}/`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                            'Content-Type': 'application/json',
                            'mode': 'same-origin'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            // Обновляем интерфейс, например, меняем цвет иконки
                            {#icon.querySelector(':before').style.background = '#cc0000';#}
                            {#icon.querySelector(':after').style.background = '#cc0000'#}
                            {#icon.classList.add('favorited');#}
                            icon.classList.toggle('favorited');

                            {#icon.style.color = "red"#}

                        }
                        {#else {icon.classList.remove('favorited')}#}
                        else {icon.style.fill = '#FFFFF'}

                    });
                });
            });
        });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function updateSearchResults(results) {
        let searchResultsDiv = $('#search-results');
        searchResultsDiv.empty();  // Очистить результаты поиска

        if (results.length === 0) {
            {#searchResultsDiv.append('<p>Ничего не найдено</p>');#}
        } else {
            let ul = $('<ul></ul>');
            results.forEach(function(result) {
                let a = $(`<a href="/${result.brand_mame}/gds/${result.id}" style="color: black" class="search_item_hower"></a>`).text(result.model_name)
                {#let li = $('<li style="color: black"></li>').text(result.model_name);  // Обращение к свойству 'model_name'#}
                let li = $('<li style="color: black"></li>').append(a)
                ul.append(li);
            });
            searchResultsDiv.append(ul);
        }
    }

    // Обработка ввода в поле поиска
    $('#search-input').on('input', function() {
        let searchTerm = $(this).val();
        if (searchTerm.length >= 3) {  // Отправлять запрос только если введено более 3 символов
            $.ajax({
                url: '/search/',
                method: 'GET',
                data: { q: searchTerm },
                success: function(response) {
                    // Обновить результаты поиска на странице
                    updateSearchResults(response.results);
                },
                error: function(xhr, status, error) {
                    console.log('Ошибка при выполнении поиска: ' + error);
                }
            });
        }
    });

    function updateSearchResultsMobile(results) {
        let searchResultsDiv = $('#search-results-mobile');
        searchResultsDiv.empty();  // Очистить результаты поиска

        if (results.length === 0) {
            searchResultsDiv.append('<p>Ничего не найдено</p>');
        } else {
            let ul = $('<ul></ul>');
            results.forEach(function(result) {
                let a = $(`<a href="/${result.brand_mame}/gds/${result.id}" style="color: black"></a>`).text(result.model_name)
                {#let li = $('<li style="color: black"></li>').text(result.model_name);  // Обращение к свойству 'model_name'#}
                let li = $('<li style="color: black"></li>').append(a)
                ul.append(li);
            });
            searchResultsDiv.append(ul);
        }
    }

    // Обработка ввода в поле поиска
    $('#search-input-mobile').on('input', function() {
        let searchTerm = $(this).val();
        if (searchTerm.length >= 3) {  // Отправлять запрос только если введено более 3 символов
            $.ajax({
                url: '/search/',
                method: 'GET',
                data: { q: searchTerm },
                success: function(response) {
                    // Обновить результаты поиска на странице
                    updateSearchResultsMobile(response.results);
                },
                error: function(xhr, status, error) {
                    console.log('Ошибка при выполнении поиска: ' + error);
                }
            });
        }
    });


    </script>
  </footer>
